$color-primary: #4CAF4F;
$color-primary-hover: #1B5E1F;
$color-secondary: #263238;
$color-silver: #F5F7FA;
$color-blue-grey: #ABBED1;
$color-light-grey: #89939E;
$color-grey: #717171;
$color-black: #263238;
$color-white-stroke: #ABBED1;
